<div class="container">
    <div style="margin-top:50px; text-align:center;">
        <h1><%= @post.title %></h1>
    </div>
    <hr>
    <div style="margin-top:30px; text-align:right;">
        <div>작성자</div>
        <div>작성시간</div>
    </div>
    <div style="margin-bottom:50px; margin-top:20px;">
        <h5><%= @post.content %></h6>
    </div>
    <hr>
    <div style="margin-top:30px; text-align:right;">
        <a href="/memo/index">
            <button type="button" class="btn btn-dark">목록보기</button>
        </a>
    </div>
</div>

